<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h4>About</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis bibendum quam a sodales. Etiam ex orci, tempor at faucibus vel, sagittis vitae justo. Quisque dolor ipsum, blandit sit amet velit eget, cursus bibendum ipsum. Maecenas nec turpis sagittis, ornare enim quis, finibus nisl. Nullam et mi ipsum. Aliquam egestas eget eros nec iaculis. Nam egestas neque non tellus sollicitudin, sit amet egestas justo suscipit. Proin laoreet laoreet massa. Cras ac est varius, malesuada odio at, ultricies massa. Vestibulum cursus eget tellus in sagittis. Nunc mi augue, malesuada a nisl non, ullamcorper egestas neque. Sed finibus ornare enim, a laoreet arcu consequat sit amet. Donec at imperdiet ex, in auctor mi.

                Nullam in consequat tellus, sit amet fermentum ipsum. Nunc posuere, magna ac egestas auctor, massa ante tristique sem, ut ullamcorper ligula ipsum non lectus. Duis non congue elit. In facilisis dapibus varius. Nunc id orci sed magna posuere tempus quis nec turpis. Fusce maximus scelerisque quam ac pharetra. Vestibulum eget ex facilisis, efficitur odio a, pretium sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam tincidunt feugiat urna, non porta risus imperdiet at. Mauris turpis mauris, sollicitudin eget sem eget, varius sollicitudin ligula.

                Donec viverra sem a cursus tincidunt. Mauris vel auctor nisi. Vestibulum nec urna sodales, scelerisque neque semper, faucibus magna. Cras ac efficitur lorem. Pellentesque ac urna quis dolor semper pharetra. Pellentesque consectetur venenatis aliquam. Sed pharetra, felis id aliquet lobortis, diam massa euismod velit, ac ultrices massa odio nec augue. Donec dictum eu ipsum nec laoreet.

                Duis at ligula maximus, aliquam neque in, finibus nisi. In viverra ullamcorper ullamcorper. Nam vitae maximus orci, at vehicula lacus. Nam ut auctor magna. Nullam auctor luctus convallis. Pellentesque orci metus, iaculis vitae tortor ultrices, ultricies elementum lectus. Nulla orci odio, luctus eget sapien quis, maximus rutrum leo. Vivamus sed nisl dolor. Curabitur dapibus hendrerit eleifend.

                Nam auctor sem condimentum ex molestie, vel tempor eros euismod. Aliquam odio eros, porttitor vel est sit amet, ullamcorper suscipit nisl. Maecenas posuere lectus eget ipsum commodo mattis. In eros nunc, egestas sit amet risus id, consequat pulvinar ipsum. Proin sed cursus lacus. Donec sed volutpat metus. Aenean gravida tristique odio a bibendum. Pellentesque gravida tristique nulla, vitae rutrum tortor ullamcorper quis. Mauris fermentum, risus sed vestibulum vestibulum, turpis ligula suscipit magna, quis congue orci risus quis augue. Aenean vitae dignissim massa. Donec sodales vehicula leo sed consectetur. Quisque tristique semper dolor quis porta. Pellentesque ut tellus at nisi consectetur mattis. 
            </p>
        </div>
    </div>
</div>